@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content; 
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    } 
}

@mixin animationName($name){
    -webkit-animation-name: $name;
    -moz-animation-name: $name;
    -o-animation-name: $name;
    -ms-animation-name: $name;
    animation-name: $name;
}

@mixin animationDuration($duration){
    -webkit-animation-duration: $duration;
    -moz-animation-duration: $duration;
    -o-animation-duration: $duration;
    -ms-animation-duration: $duration;
    animation-duration: $duration;
}

@mixin animationDirection($direction){
    -webkit-animation-direction: $direction;
    -moz-animation-direction: $direction;
    -o-animation-direction: $direction;
    -ms-animation-direction: $direction;
    animation-direction: $direction;
}

@mixin animationIterationCount($iteration-count){
    -webkit-animation-iteration-count: $iteration-count;
    -moz-animation-iteration-count: $iteration-count;
    -o-animation-iteration-count: $iteration-count;
    -ms-animation-iteration-count: $iteration-count;
    animation-iteration-count: $iteration-count;
}