@import "./animations";

div#prt-container.prt-o-default {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    > div:nth-child(1) {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    > div:nth-child(2) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

div#prt-container > div.prt-p-default {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

div#prt-container > div.prt-p-default > div.prt-l-default {
    > div.animated {
        @include animationName(intermittence);
        @include animationDuration(.3s);
        @include animationDirection(alternate);
        @include animationIterationCount(infinite);
    }
}

@include keyframes(intermittence) {
    from { opacity: 0.05; }
    to { opacity: 0.5; } 
}